.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: #ccc;
    color: #555;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: -160%;
    margin-left: -60px;
    font-size: 11px;
}
.tooltip::after {
    content: "";
    cursor: help;
    font-family: Dashicons;
    font-variant: normal;
    font-weight: 400;
    height: 100%;
    left: 0;
    line-height: 1;
    margin: 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    top: 0;
    width: 100%;
    color: #666;
    display: inline-block;
    font-size: 1.1em;
    font-style: normal;
    height: 16px;
    line-height: 16px;
    position: relative;
    vertical-align: middle;
    width: 16px;

}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

